langchain
langchain-core
langchain-community

# LLM Providers

langchain-openai
langchain-mistralai
openai
mistralai

# Vector Database

chromadb

# Embedding Models

sentence-transformers

# Document Loaders dependencies

pypdf
unstructured
beautifulsoup4
lxml

# Text Processing

tiktoken

# Environment Variables

python-dotenv

# Data Handling

pandas
numpy
altair==4.2.2 

# API / App Layer (optional but common in RAG apps)

fastapi
uvicorn

# UI (optional)
streamlit==1.38.0
pillow>=10.4.0

# Utilities

tqdm
requests